body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: var(--mainBlack);
}
img {
  width: 100%;
  display: block;
}

/* Nav Bar  */

nav {
  height: 5rem;
  display: flex;
  align-items: center;
  border-bottom: 2px solid #476a2e;
  box-shadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
  background-color: #d4e6a5;
}

.nav-style {
  color: green;
  font-style: italic;
}

.nav-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 85vw;
  margin: 0 auto;
  max-width: 1170px;
}

.nav-links {
  display: flex;
  align-items: center;
}

li {
  text-transform: capitalize;
  display: inline-block;
  font-weight: bold;
  margin-right: 0.5rem;
  font-weight: 400;
  letter-spacing: 2px;
  font-size: 1.2rem;
  padding: 0.25rem 0.5rem;
  transition: var(--mainTransition);
}

li:hover {
  color: blue;
}
.section-title {
  font-size: 2rem;
  text-transform: capitalize;
  letter-spacing: 0.25rem;
  text-align: center;
  margin-bottom: 3.5rem;
  margin-top: 1rem;
  font-style: italic;
  color: rgb(16, 97, 16);
}

/* About Page  */

.about {
  text-align: center;
}

.about h1 {
  margin-top: 2rem;
  font-style: italic;
}

.about p {
  width: 40vw;
  margin: 0 auto;
  padding-top: 3rem;
  color: green;
}

/* Cocktail  */

@media screen and (min-width: 776px) {
  .cocktail-center {
    display: grid;
    /* grid-template-columns: repeat(3, 1fr); */
    grid-template-columns: repeat(auto-fill, minmax(338.8px, 1fr));
    gap: 20px;
    margin: 0 auto;
  }
}

.cocktail-center {
  width: 85vw;
  margin: 0 auto;
  max-width: 1170px;
}
.cocktail {
  /* border: 1px solid black; */
  transition: all 0.3s linear;
  margin-bottom: 2rem;
  border-radius: 0.25rem;
  box-shadow: 2px 5px 3px 0 rgb(0 0 0 / 50%);
}

.info {
  padding: 0 1.5rem 1.5rem;
}

.info h3 {
  font-size: 2rem;
}

.info h4 {
  letter-spacing: 3px;
}

.btn {
  letter-spacing: 5px;
  background-color: green;
  color: #fff;
  padding: 0.25rem 0.4rem;
  border-radius: 0.25rem;
}

.cocktail img {
  height: 20rem;
  object-fit: cover;
}

/* Single cocktail page  */

.back-btn {
  margin: 0 auto;
  text-transform: uppercase;
}

.cocktail-section {
  text-align: center;
}

.drink {
  /* display: flex; */
  margin: 0 auto;
  /* max-width: 900px; */
}

.drink-info {
  padding: 0 2rem;
  text-align: initial;
  width: 30rem;
  margin: 0 auto;
}
.drink img {
  border-radius: 5px;
  border: 2px solid #daa520;
  transition: 0.4s;
  margin: 0 auto;
  margin-bottom: 2rem;
  width: 90vw;
}

.drink-data {
  text-transform: capitalize;
  font-style: italic;
  font-size: 1.2rem;
  background: #d4e6a5;
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  color: #476a2e;
}
.drink span {
  margin-right: 0.5rem;
  font-weight: bold;
}

p {
  font-weight: bold;
  margin-bottom: 1.5rem;
}

@media screen and (min-width: 876px) {
  .drink {
    display: flex;
    margin: 0 auto;
    max-width: 900px;
  }

  .drink img {
    height: 22rem;
    width: 400px;
  }
}

/* form  */

.section {
  padding: 5rem 0;
}

.search {
  margin-top: 1rem;
  padding-bottom: 0;
}
.search-form {
  width: 85vw;
  margin: 0 auto;
  max-width: 40rem;
  background: var(--mainWhite);
  padding: 2rem 2.5rem;
  border-radius: 0.25rem;
  box-shadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
}

.form-control label {
  display: block;
  margin-bottom: 1.25rem;
  font-weight: bold;
  letter-spacing: 0.25rem;
  color: green;
  font-size: 1.4rem;
}
.form-control input {
  width: 100%;
  border: none;
  border-color: transparent;
  background: white;
  border-radius: 0.25rem;
  padding: 0.5rem;
  font-size: 1.2rem;
}
/* Loading  */
.loader {
  margin: 88px auto;
  margin-top: 15rem;
  width: 40px;
  height: 98px;
  position: relative;
  border: 2px solid #fff;
  box-sizing: border-box;
  color: rgba(255, 61, 0, 0.9);
  border-radius: 20px 20px 4px 4px;
  background: #fff;
  animation: fill 2s linear infinite alternate;
}
.loader::after {
  content: '';
  box-sizing: border-box;
  position: absolute;
  left: 50%;
  top: 0%;
  transform: translate(-50%, -95%);
  border: 2px solid #fff;
  border-bottom: none;
  background: #fff;
  width: 15px;
  height: 35px;
  animation: fillNeck 2s linear infinite alternate;
}

@keyframes fill {
  0% {
    box-shadow: 0 0 inset;
  }
  50%,
  100% {
    box-shadow: 0 -98px inset;
  }
}

@keyframes fillNeck {
  0%,
  50% {
    box-shadow: 0 0 inset;
  }
  100% {
    box-shadow: 0 -20px inset;
  }
}
